// 主色
$primary: #6d6b8d;
$primaryem: #be3426;
$auxiliary: #ef9f2d;
$normal: #57585b;
$gray: #cccccc;
$cayn: #bbe0f6;
$green: #7ebf6a;
$yellow: #FFFF99;
$orange: #B5B0CE;
$blue: #bbe0f6;
$lightblue: #6ab2e5;
$bg: #f5f5f5;
// scroll-bar
$scroll-bar-color: rgba(0, 0, 0, 0.5);

$pc-screen-width:500px;
$pc-fixed-left:calc((100% - 500px) / 2);
$m-screen-width:100%;