@font-face {
  font-family: 'iconfont';  /* project id 593219 */
  src: url('//at.alicdn.com/t/font_593219_a0iopv4qntgldi.eot');
  src: url('//at.alicdn.com/t/font_593219_a0iopv4qntgldi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_593219_a0iopv4qntgldi.woff') format('woff'),
  url('//at.alicdn.com/t/font_593219_a0iopv4qntgldi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_593219_a0iopv4qntgldi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
}
